@using Multichoice_project.Models

@{
    ViewData["Title"] = "EditTest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //tên user
    ViewData["UserLogin"] = "Tín";
    ViewData["UserLoginFirst"] = "T";

    ViewData["Test-active"] = "active";
    ViewData["Test-edit"] = "active";
    ViewData["Nav-open-test"] = "side-nav-opened";
    ViewData["Test-edit-nav"] = "Edit Test";
    ViewData["Display-submenu-test"] = "display: block";
    //data from server
    var sub = (List<Subject>)ViewData["Subject"];
}

<div class="row">
    <div class="col-8 py-6 col-12 FormCreateTest " style="">
        <div class="card mb-3 mb-md-4">
            <div class=" " style="min-height:100%">
                <button type="button" class="btn btn-primary btn-sm fixedAddQuestion AddQuestion">
                    <i class="fa-solid fa-plus"></i>
                    &nbsp; New Quesion
                </button>
                <button type="button" onclick="submitTest()" class="btn btn-sm fixedSaveTest">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    &nbsp; Save
                </button>
                <div class="properties-test">
                    <label class="d-block fw-bolder" for="name-test"> Name Test:</label>
                    <input type="text" class="form-control name-test" id="name-test" value="@ViewBag.Test.Name">
                    <span class="fw-bolder">Time: </span>
                    <input type="number" class="form-control time" value="@ViewBag.Test.Time">
                    <span>(Minutes)</span>
                    <br />
                    <label class="fw-bolder d-inline-block" for="subject"> Subject Name:</label>
                    <select class="form-select col-3 ms-3 my-2 d-inline-block subject" id=" subject" aria-label="Default select example">
                        @foreach (var s in sub)
                        {
                            @if (s.Name == ViewBag.SubjectSelected)
                            {
                                <option value="@s.Id" selected="selected">@s.Name</option>
                            }
                            else
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        }


                    </select>

                    <label class="d-block fw-bolder" for="Description"> Description:</label>
                    <textarea class="form-control description" aria-label="With textarea" id="Description">heeeeeeeeeee</textarea>
                </div>
                <br />
                <div class="text-start px-5 test-content">
                    @*<p class=" question-content">
                    <b class="fs-5">Câu 1</b><br />
                    bạn madasdas
                    </p>
                    <div class="answer-content px-5">
                    <input class='form-check-input' type="radio" name="" />
                    <label class='form-check-label opacity-100'>Câu trả lời 1</label>
                    </div>*@

                    @*<b class="fs-5">Câu X</b>
                    <i class="fas fa-pen ps-3" style="color:#ffd43b" onclick="editQuestion($(this).parent())"></i>
                    <p class=" question-content" ">
                    Câu hỏi?
                    </p>

                    <div class="answer-content px-5">
                    <div class="groupAnswer" onmouseover="deleteAnswerFocus($(this))" onmouseout="deleteAnswerUnFocus($(this))">
                    <input class='form-check-input' type="radio" name="${idQuest + 1}" value="${answer}" />
                    <label class='form-check-label opacity-100'>Câu hỏi 1</label>
                    <i onclick='deleteAnswer($(this))' class="fas fa-trash ms-5 fa-lg d-none delete-answer" style="color:#ef5b5b"></i>
                    <br>
                    </div>
                    </div>
                    *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 py-4 sticket" style="padding:0px ">
    <div class="card FormEditQues " style="">

        @*<div class="text-center" style="min-height:100px">
        <b>Question</b>
        <textarea name="question" id="EditorQuestion" rows="10" cols="6"></textarea>
        <b> Answer </b>
        <textarea name="answer" id="EditorAnswer" rows="12" cols="6"> </textarea>
        </div>*@

    </div>

</div>
</div>
@section Scripts{
    <script type="text/javascript">


        var formEditQuesIstActive = false //from để thêm sửa câu hỏi đã active hay chưa
        var idQuest = 0 // số lượng câu hỏi -1
        var questionEditing
        var idquesDelete = []//danh sách id câu hỏi cần delete
        var idAnsDelete = []//danh sách câu trả lời delete

        $(".AddQuestion").on("click", function() {
            addQues();
        })
        //-----------lấy nội dung test--------------
        $.ajax({
            url: '/Admin/Home/GetQuestionsByIdTest/' + @ViewBag.Test.Id,
            dataType: 'json',
            type: 'GET',
            success: function(data) {

                data.questionlist.$values.forEach(function(i) {
                    console.log(i)
                    var htmlAnswer = ``
                    var htmlQuestion = `<b class="fs-5">Câu ${idQuest + 1}: </b>
                                            <i class="fas fa-pen ps-3" style="color:#ffd43b" onclick="editQuestion($(this).parent())"></i>`+
                        "<div class='question-content tt' id='" + i.id + "'>"
                        + i.content +
                        "</div>"
                    i.answers.$values.forEach(function(ans) {
                        var checked = ''
                        console.log(ans.isCorrectAnswer)
                        if (ans.isCorrectAnswer) checked = "checked"
                        htmlAnswer += `<div class="groupAnswer" onmouseover="deleteAnswerFocus($(this))" onmouseout="deleteAnswerUnFocus($(this))">
                                    <input class='form-check-input' type="radio" name="${i.id}" ${checked} value="${ans.content}" id="${ans.id}" />
                                    <label class='form-check-label opacity-100'>${ans.content}</label>
                                    <i onclick='deleteAnswer($(this))' class="fas fa-trash ms-5 fa-lg d-none delete-answer" style="color:#ef5b5b"></i>
                                    <br>
                                </div>`
                    })
                    htmlQues_Ans = `<div id="admin-create-test-${idQuest + 1}" class="admin-create-test-all">
                                            ${htmlQuestion}
                                            <div class="answer-content px-5">
                                                ${htmlAnswer}
                                            </div>
                                            <div class="answer-content-temp px-5"></div>
                                        </div>`
                    $(".test-content").append(htmlQues_Ans)
                    idQuest++
                })
                //for(var ques in data.questionlist.$values){
                //    console.log(ques)
                //}

            }
        })

        // ---------------function -------------
        function addQuesEdit() {
            
                $(".FormCreateTest").addClass("col-12")
                $(".FormEditQues").empty()
                formEditQuesIstActive = false
                questionEditing.find(".answer-content-temp").empty()
            
        }
        // hiển thị form tạo câu hỏi
        function addQues(action = '') {

            if (action == 'Exit') {
                var id = "#admin-create-test-" + (idQuest)
                console.log((id))
                $(id).remove()
                idQuest--
            }
            if (formEditQuesIstActive) {
                $(".FormCreateTest").addClass("col-12")
                $(".FormEditQues").empty()
                formEditQuesIstActive = false
                $(`#admin-create-test-${idQuest}`).find(".answer-content-temp").empty()
            } else {
                $(".FormCreateTest").removeClass("col-12")
                $(".FormEditQues").append(`
                                                                                                                                                        <div class="text-center TrasitionForm" style="min-height:100px;background-color:#c2c2c2;">
                                                                                                                                                            <b>Question</b>
                                                                                                                                                            <textarea name="question" id="EditorQuestion" rows="10" cols="6"></textarea>
                                                                                                                                                            <button onclick="addAnswerToTest()" type="button" class="btn btn-success btn-sm position-absolute start-0 save-answer">Add</button>
                                                                                                                                                            <b> Answer </b>
                                                                                                                                                            <textarea name="answer" id="EditorAnswer" rows="12" cols="6"> </textarea>
                                                                                                                                                        </div>
                                                                                                                                                        <div class="menubut d-flex TrasitionForm">
                                                                                                                                                            <button onclick="addQues()" type="button" class="btn btn-primary btn-sm px-4 me-auto ms-0 AddQuestion">Save Question</button>
                                                                                                                                                            <button onclick="addQues('Exit')" type="button" class="btn btn-danger btn-sm px-4  AddQuestion">Exit</button>
                                                                                                                                                        </div>
                                                                                                                                                     `)
                formTest()
                formEditQuesIstActive = true
                handleAddSampleQuestion()
                idQuest++
            }
        }
        //tạo CKEditor
        function formTest() {
            var editorQuestion = CKEDITOR.replace('EditorQuestion', {
                width: "100%",
                height: 70
            });
            var editorAnswer = CKEDITOR.replace('EditorAnswer', {
                width: "100%",
                height: 180
            });
            editorQuestion.on("change", function(event) {
                var questionAdded = CKEDITOR.instances.EditorQuestion.getData()
                //console.log(questionAdded)
                handleDisplayQues(questionAdded)

            })
            editorAnswer.on("change", function(event) {
                var answerAdded = CKEDITOR.instances.EditorAnswer.getData()
                //console.log(answerAdded)
                //console.log("chạy")
                handleDisplayAnswer(answerAdded)

            })
        }
        //Hiển thị câu hỏi ngoài giao diện
        function handleDisplayQues(questionContent) {
            $(`#admin-create-test-${idQuest}`).find(".question-content").empty()
            $(`#admin-create-test-${idQuest}`).find(".question-content").append(questionContent)
        }
        //Hiển thị các câu trả lời ngoài giao diện
        function handleDisplayAnswer(answerContent) {
            if (answerContent !== '') {

                var html = `<input class='form-check-input' type="radio" name="${idQuest + 1}" />
                                                                                                                                      <label class='form-check-label opacity-100'>${answerContent}</label><br>`
                $(`#admin-create-test-${idQuest}`).find(".answer-content-temp").empty()
                $(`#admin-create-test-${idQuest}`).find(".answer-content-temp").append(html)
            } else {
                $(`#admin-create-test-${idQuest}`).find(".answer-content-temp").empty()
            }

        }
        function handleAddSampleQuestion() {
            var classAdded = `<div id="admin-create-test-${idQuest + 1}" class="admin-create-test-all">
                                                                                                                                                    <b class="fs-5">Câu ${idQuest + 1}</b>
                                                                                                                                                    <i class="fas fa-pen ps-3" style="color:#ffd43b" onclick="editQuestion($(this).parent())"></i>
                                                                                                                                                    <p class=" question-content" ">
                                                                                                                                                        Câu hỏi ?
                                                                                                                                                    </p>
                                                                                                                                                    <div class="answer-content px-5"></div>
                                                                                                                                                        <div class="answer-content-temp px-5">
                                                                                                                                                            <input class='form-check-input' type="radio" name="1" />
                                                                                                                                                            <label class='form-check-label opacity-100'>Câu trả lời 1</label><br>
                                                                                                                                                            <input class='form-check-input' type="radio" name="2" />
                                                                                                                                                            <label class='form-check-label opacity-100'>Câu trả lời 2</label><br>
                                                                                                                                                            <input class='form-check-input' type="radio" name="3" />
                                                                                                                                                            <label class='form-check-label opacity-100'>Câu trả lời 3</label><br>
                                                                                                                                                            <input class='form-check-input' type="radio" name="4" />
                                                                                                                                                            <label class='form-check-label opacity-100'>Câu trả lời 4</label><br>
                                                                                                                                                        </div>
                                                                                                                                              </div>`
            $(".test-content").append(classAdded)

        }
        function addAnswerToTest() {
            var answer = CKEDITOR.instances.EditorAnswer.getData()
            var html = `<div class="groupAnswer" onmouseover="deleteAnswerFocus($(this))" onmouseout="deleteAnswerUnFocus($(this))"><input class='form-check-input' type="radio" name="${idQuest + 1}" value="${answer}" />
                                                                                                                                      <label class='form-check-label opacity-100'>${answer}</label>
                                                                                                                                      <i onclick='deleteAnswer($(this))' class="fas fa-trash ms-5 fa-lg d-none delete-answer" style ="color:#ef5b5b"></i>
                                                                                                                                      <br>
                                                                                                                                      </div>`
            $(`#admin-create-test-${idQuest}`).find(".answer-content").append(html)
            CKEDITOR.instances.EditorAnswer.setData('')
        }
        // Hiển thị Icon delete khi mất hover
        function deleteAnswerFocus(ans) {
            ans.find("i").removeClass("d-none")
        }
        // Ẩn Icon delete khi mất hover
        function deleteAnswerUnFocus(ans) {
            ans.find("i").addClass("d-none")
        }
        //xóa câu trả lời thông qua onclick iconDelete<red>
        function deleteAnswer(ansIcon) {
            var questionTest = ansIcon.parent().parent().parent()
            idAnsDelete.push(ansIcon.parent().find("input").attr("id"))
            ansIcon.parent().remove()
            //console.log("roogn:" + idQuest)
            //console.log(t)
            //console.log("lenht:" + t.length)
            //nếu xóa hêt Answer sẽ xóa câu đó đi
            //console.log(ansIcon.parent().parent().find(".groupAnswer"))
            console.log(questionTest)
            //nếu xóa hết câu trả mời thì đồng thời xóa câu hỏi
            if (questionTest.find(".answer-content").children().length == 0) {
                //lấy id câu hỏi sẽ xóa
                var idquesDe = questionTest.find(".question-content ").attr("id")
                if (idquesDe != undefined) {
                    idquesDelete.push(+idquesDe)
                }
                console.log("list id câu hỏi đã xóa: ")
                console.log(idquesDelete)
                questionTest.remove()
                console.log("lenht:" + idQuest)
                //giảm số câu hỏi đang có xuống 1
                //idQuest--
                //đóng form tạo câu hỏi
                if (formEditQuesIstActive) {
                    $(".FormCreateTest").addClass("col-12")
                    $(".FormEditQues").empty()
                    formEditQuesIstActive = false
                    $(`#admin-create-test-${idQuest}`).find(".answer-content-temp").empty()
                }

            }
        }
        async function submitTest() {
            var thisQues = $(this)
            var stop = true
            var testName = $(".properties-test").find(".name-test").val().trim()
            var time = $(".properties-test").find(".time").val().trim()
            var description = $(".properties-test").find(".description").val().trim()
            var subject = $(".subject").val().trim()
            if (testName == "" || time == "" || description == "" || subject == "") {
                //var myModal = new bootstrap.Modal(document.getElementById('error-info-test'))
                //myModal.show()
                $("#error-info-test").modal("show")
            } else {
                console.log("testName: " + testName)
                console.log("time: " + time)
                console.log("description: " + description)
                console.log("----------------------------")
                var test = []

                
                $(".admin-create-test-all").each(function (){
                    var quesI = $(this).find(".question-content").html()
                    console.log("------------------------------------ư-------------------------")
                    var idQues = $(this).find(".question-content").attr("id")
                    if (quesI == "") {
                        alert("chưa có câu hỏi tại câu "+$(this).find("B").first().text())
                        var stop = false
                    }
                    var answI = []
                    var rightAnswer = -1
                    $(this).find("input[type='radio']").each(function() {
                        var an = {
                                content : $(this).val(),
                                id      : $(this).attr('id') ||""
                            }
                        if ($(this).is(":checked")) {
                            rightAnswer = answI.push(an) - 1
                        } else if (an.content=="") { 
                            console.log(an)
                            alert("câu hỏi "+thisQues.find("b").text()+" đáp án chưa đúng")
                        }else{
                            answI.push(an)
                        }
                    })
                    if (rightAnswer == -1) {
                        alert("Chưa check đáp án "+$(this).find("b").text())
                        stop = false;
                    }
                    console.log(answI)
                    console.log(quesI)
                    var quesAnsw = {
                        question: quesI,
                        idquestion: idQues || "",
                        answer: answI,
                        rightAnswer: rightAnswer
                    }
                    test.push(quesAnsw)
                })

                var jsonTest = JSON.stringify({
                    id: @ViewBag.Test.Id,
                    name: testName,
                    time: time,
                    description: description,
                    subjectid: subject,
                    listQues: test
                })
                console.log("----jsonTest----")
                console.log(jsonTest)
                console.log("----idquesDelete----")
                console.log(idquesDelete)
                console.log(JSON.stringify({ listidques: idquesDelete }),)
                if (stop) {
                    $.ajax({
                        url: "/Admin/Home/EditTest",
                        data: jsonTest,
                        type: "POST",
                        dataType: "json",
                        contentType: "Application/json;charset=utf-8",
                        success: function(res) {
                            console.log("Update ListIdQuestion success")
                            console.log()
                        }
                    })
                    $.ajax({
                        url: "/Admin/Home/DeleteListIdQuestion",
                        data: JSON.stringify({ listidques: idquesDelete }),
                        type: "POST",
                        dataType: "json",
                        contentType: "Application/json;charset=utf-8",
                        success: function(res) {
                            console.log("DeleteListIdQuestion success")
                            console.log(res)
                        }
                    })
                    $.ajax({
                        url: "/Admin/Home/DeleteListIdAnswer",
                        data: JSON.stringify({ listidans: idAnsDelete }),
                        type: "POST",
                        dataType: "json",
                        contentType: "Application/json;charset=utf-8",
                        success: function(res) {
                            console.log("DeleteListId Answer success-------")
                            console.log(res)
                        }
                    })
                }
                await console.log("----------------------------xong --------------------")



            }//end else
        }

        function formTestForEdit(questionEdited) {
            var editorQuestion = CKEDITOR.replace('EditorQuestion', {
                width: "100%",
                height: 70
            });
            var editorAnswer = CKEDITOR.replace('EditorAnswer', {
                width: "100%",
                height: 180
            });
            editorQuestion.on("change", function(event) {
                var questionAdded = CKEDITOR.instances.EditorQuestion.getData()
                //console.log(questionAdded)
                questionEdited.find(".question-content").empty()
                questionEdited.find(".question-content").append(questionAdded)

            })
            editorAnswer.on("change", function(event) {
                var answerAdded = CKEDITOR.instances.EditorAnswer.getData()
                //console.log(answerAdded)
                //console.log("chạy")
                var html = `<input class='form-check-input' type="radio" name="${idQuest + 1}" />
                                                                                                                                      <label class='form-check-label opacity-100'>${answerAdded}</label><br>`
                questionEdited.find(".answer-content-temp").empty()
                questionEdited.find(".answer-content-temp").append(html)

            })
        }
        function addAnswerForEdit() {
            var answer = CKEDITOR.instances.EditorAnswer.getData()
            var html = `<div class="groupAnswer" onmouseover="deleteAnswerFocus($(this))" onmouseout="deleteAnswerUnFocus($(this))"><input class='form-check-input' type="radio" name="${idQuest + 1}" value="${answer}" />
                                                                                                                                      <label class='form-check-label opacity-100'>${answer}</label>
                                                                                                                                      <i onclick='deleteAnswer($(this))' class="fas fa-trash ms-5 fa-lg d-none delete-answer" style ="color:#ef5b5b"></i>
                                                                                                                                      <br>
                                                                                                                                      </div>`
            questionEditing.find(".answer-content").append(html)
            CKEDITOR.instances.EditorAnswer.setData('')
            questionEditing.find(".answer-content-temp").empty()
            console.log("------------------------hjhjhj----------------------------------")
            console.log(questionEditing.find(".answer-content-temp"))
        }

        function editQuestion(questionEdited) {
            if (formEditQuesIstActive) {
                $(".FormCreateTest").addClass("col-12")
                $(".FormEditQues").empty()

            }
            {
                $(".FormCreateTest").removeClass("col-12")
                $(".FormEditQues").append(`
                                                                                                                                                        <div class="text-center TrasitionForm" style="min-height:100px;background-color:#c2c2c2;">
                                                                                                                                                            <b>Question</b>
                                                                                                                                                            <textarea name="question" id="EditorQuestion" rows="10" cols="6"></textarea>
                                                                                                                                                            <button onclick="addAnswerForEdit()" type="button" class="btn btn-success btn-sm position-absolute start-0 save-answer">Add</button>
                                                                                                                                                            <b> Answer </b>
                                                                                                                                                            <textarea name="answer" id="EditorAnswer" rows="12" cols="6"> </textarea>
                                                                                                                                                        </div>
                                                                                                                                                        <div class="menubut d-flex TrasitionForm">
                                                                                                                                                            <button onclick="addQuesEdit()" type="button" class="btn btn-primary btn-sm px-4 me-auto ms-0 AddQuestion">OK</button>

                                                                                                                                                        </div>
                                                                                                                                                     `)
                questionEditing = questionEdited
                //tạo CKEDITOR
                formTestForEdit(questionEdited)
                CKEDITOR.instances.EditorQuestion.setData(questionEdited.find(".question-content").html())
                formEditQuesIstActive = true
                //handleAddSampleQuestion()

            }
        }

    </script>

    @*--------------modal           *@
    <div class="modal fade" id="error-info-test" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Lỗi! Kiểm tra lại thông tin bài test
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    @*-------------end -modal   *@
    }
