@using Multichoice_project.Models;
@{
    ViewData["Title"] = "Subject";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var i = 1;
     ViewData["UserLogin"] = ViewBag.UserLogin;
    ViewData["UserLoginFirst"] = ViewBag.UserLogin[0];

    ViewData["Subject-active"] = "active";
    ViewData["Subject-all"] = "active";
    ViewData["Nav-open-subject"] = "side-nav-opened";
    ViewData["Display-submenu-subject"] = "display: block";
}


<div class="card mb-3 mb-md-4">

    <div class="card-body">
        <!-- Breadcrumb -->
        <nav class="d-none d-md-block" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Subject</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Add New Subject</li>
            </ol>
        </nav>
        <!-- End Breadcrumb -->

        <div class="mb-3 mb-md-4 d-flex justify-content-between">
            <div class="h3 mb-0">Add New Subject</div>
        </div>


        <!-- Form -->
        <div>
            <form action="/Admin/Subject/EditSubject" method="post">
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="name">Name Subject</label>
                        <input maxlength="50" type="text" class="form-control" value="@ViewBag.Subject.Name" id="name" name="Name" placeholder="Subject Name" maxlength="20"  required>
                        <input type="text" class="form-control d-none" value="@ViewBag.Subject.Id" id="id" name="Id">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="Educational-field">Educational Field</label>
                        <select id="Educational-field" name="EducationalFieldId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            @foreach (EducationalField edu in ViewBag.Educational_field)
                            {
                                if (edu.Id == ViewBag.Subject.EducationalFieldId)
                                {
                                    <option value="@edu.Id" selected>@edu.Name</option>
                                }
                                else{
                                    <option value="@edu.Id">@edu.Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </form>
        </div>
        <!-- End Form -->
    </div>
</div>
