@using Multichoice_project.Models;
@using System.Web
@{
    ViewData["UserName"] = ViewBag.UserNameDisplay;
    ViewData["Title"] = "TestName";
    Layout = "~/Views/Shared/_Layout_Exam.cshtml";
    var u = ViewBag.Model;
    Int32 i = 1;

}

<h4 class="title-test">@u.Name</h4>
<p style="text-align:center">@u.Description</p>
<h5 class="time-to-do-test"><i class="far fa-clock"></i> :@u.Time (phút)</h5>
<br />
<div class="container px-4 border rounded ">

    @foreach (Question question in ViewBag.question)
    {
        <div>
            <lable class=" fs-5 question" IdQuestion="@question.Id"><b>Câu @i:</b><div class="d-inline-block px-2" id="@question.Id-idforques"></div></lable>
            <script type="text/javascript">
                var t = '@question.Content'
                var parser = new DOMParser;
                var dom = parser.parseFromString('<!doctype html><body>' + t, 'text/html');
                var decodedString = dom.body.textContent;
                document.getElementById("@question.Id-idforques").innerHTML = decodedString
                console.log(decodedString);

            </script>
            @{
                i = i + 1;
            }
            <div class="form-check @question.Id" IdQuestion="@question.Id" disable>
            </div>
            <div class="incorrect_answer d-none">
                <i class="fas fa-times fa-lg"></i>
                Sai
            </div>
            <div class="right_answer text-primary d-none">
                <i class="fas fa-thumbs-up fa-lg"></i>
                Đúng
            </div>
        </div>
        <hr width="100%" align="center" />
    }
    <div class="d-grid gap-2">
        <button onclick="window.location='/Exam/Index?id=@u.Id'" class="btn btn-warning" type="button">Vào Thi</button>
    </div>
    <br />
</div>

<br />

@section Scripts{

    <script type="text/javascript">
        $(".form-check").each(async function() {
            var th = $(this)
            //var input = th.find(".form-check-input")
            //var label = th.find(".form-check-label")
            var idquestion = $(this).attr("IdQuestion")
            console.log("id question ------" + idquestion)
            await $.ajax({
                url: "/Test/GetAnswer",
                type: 'get',
                data: {
                    idquestion: $(this).attr("IdQuestion")
                },
                success: function(data) {

                    console.log(data.answerslist.$values);
                    var charcode = 65
                    $.each(data.answerslist.$values, function(index, value) {
                        console.log("thêm " + value.answer)
                        console.log("id question ------" + idquestion)
                        var input = "<input class='form-check-input ' onchange='OnSelectAnswer($(this)," + value.idanswer + ")' type='radio' name='" + th.attr("IdQuestion") + "' id='" + value.idanswer + "'/>"
                        var label = "<label class='form-check-label opacity-100' for='" + value.idanswer + "'>" + String.fromCharCode(charcode) + ". " + `<div style="display: inline-block">${value.answer}</div>` + "</label><br><br>"
                        charcode++
                        console.log("input" + input)
                        console.log("lable" + label)
                        th.append(input)
                        th.append(label)
                    })
                }
            })

        })


        //------------------function-----------------
        function OnSelectAnswer(idques, idanswer) {
            var idquestion = idques.parent().attr("IdQuestion")

            console.log(idquestion)
            var CorrectAnswer
            $.ajax({
                url: "/Test/GetCorrectAnswer",
                data: {
                    idquestion: idquestion
                },
                success: function(data) {
                    CorrectAnswer = data.answerslist.$values[0].idanswer
                    console.log(CorrectAnswer == idanswer)
                    if (CorrectAnswer == idanswer) {
                        idques.parent().parent().find(".right_answer").removeClass("d-none")
                    } else {
                        idques.parent().parent().find(".incorrect_answer").removeClass("d-none")
                        idques.parent().parent().append("Đáp án là: " + "<b class='fs-5'>" + idques.parent().find("#" + CorrectAnswer).next().text()[0] + "</b>")
                    }
                    idques.parent().find("input").attr('disabled', 'disabled')


                }
            })


        }

    </script>
}